#!/usr/bin/env bash

# SHELL_CLI_CMD_{{PKG_FN_UPPER}}_{{CMD_FN_UPPER}}_FLAG_ORDER
#
# Coordinator of flag population in interactive mode and during the internal validation period.
declare -ga SHELL_CLI_CMD_{{PKG_FN_UPPER}}_{{CMD_FN_UPPER}}_FLAG_ORDER=()



# {{REGISTER FLAG PLACEHOLDER}}