{{PKG_FN_UPPER}}
================================

> {{SUMMARY}}

&nbsp;

{{DESCRIPTION}}




&nbsp;
________________________________________________________________________________

## EXECUTING LOCAL TASKS

Bootstrap local executable driver artifacts directly via terminal interactions:

```bash
./{{PKG_FN_LOWER}}.sh {{PKG_FN_LOWER}} --help
```

